*{
    padding: 0;
    margin: 0;
    
}

.heading{
    text-transform: capitalize;
    font-size: 2.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form input{
    display: block;
}

button a{
    text-decoration: none;
}

